.QuoteLi {
    display: block;
    margin: 2px 10px;
}
.CategoriesList {
    float: left;
    display: block;
}
select {
    font-size: 20px;
    background: #fff;
    color: #222222;
}
a {
    display: block;
    margin: 0 5px 0 0;
    padding: 2px 10px;
}
.categoryName {
    width: 50%;
    margin: 0 auto;
}