.AddQuote{
    width: 80%;
    margin: auto;
}

.AddQuote input, .AddQuote textarea {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin: 10px auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.AddQuote textarea {
    height: 200px;
}
.AddQuote button {
    font-family: inherit;
    padding: 10px;
    border: 1px solid #ccc;
    background:  #eee;
    cursor: pointer;
}

select {
    font-size: 20px;
    background: #fff;
    color: #222222;
}